<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Word</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p><%= "#{@piglatin}" %></p>
    <p>eHay asway anway oldway anmay owhay ishedfay aloneway inway away iffskay inway ethay ulfGay ayStream andway ehay adhay onegay eightyway ourfay aysday ownay ithoutway akingtay away ishfay</p>
  </body>
</html> 